@use "./variables" as vars;

%exit-button {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 30px;
  right: 5%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.1s ease-out;

  &:hover {
    color: #ff4136;
    transform: scale(1.1);
  }

  &:focus {
    color: rgb(142, 32, 32);
    transform: scale(0.9);
  }
}

@media (max-width: 600px) {
  %exit-button {
    height: 40px;
    width: 40px;
    top: 20px;
  }
}

%submit-button {
  height: 50px;
  width: 120px;
  margin-top: 50px;
  background-color: vars.$primary-color;
  color: white;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:disabled {
    background-color: vars.$disabled-primary-color;
    color: white;
    border: none;
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: vars.$secondary-color;
    scale: 1.05;
  }

  &:focus {
    background-color: vars.$tertiary-color;
    scale: 0.95;
  }
}

%link-button {
  margin-top: 30px;
  margin-bottom: 20px;

  .add,
  .delete {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      scale: 1.05;
    }

    &:active {
      scale: 0.95;
    }
  }
}

%add-button {
  @extend %link-button;

  .add {
    color: vars.$primary-color;

    &:hover {
      color: vars.$secondary-color;
    }

    &:active {
      color: vars.$tertiary-color;
    }
  }
}

%delete-button {
  @extend %link-button;

  .delete {
    color: vars.$disabled-primary-color;

    &:hover {
      color: vars.$disabled-secondary-color;
    }

    &:active {
      color: vars.$disabled-tertiary-color;
    }
  }
}
