@use "./variables" as vars;

.calendar-main {
  display: flex;
  flex-direction: column;
  z-index: -1;
  background-color: #1b1b1b;

  .calendar-container {
    display: flex;
    flex-flow: column;
    background-color: #232323;

    .weekday-list {
      display: flex;
      height: 50px;
      background-color: #1b1b1b;
      border-radius: 4px 4px 0 0;

      .weekday-item {
        width: vars.$day-width;
        margin-left: vars.$day-margin;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #f5f5f5;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.08em;
          font-size: 0.85rem;
        }
      }
    }

    .calendar {
      display: flex;
      flex-flow: row wrap;
      background-color: #111111;
      padding-top: 20px;
    }
  }
}

@media (max-width: 600px) {
  .calendar-main {
    .calendar-container {
      height: auto;
    }
  }
}
