@use "./variables" as vars;

.calendar-main {
  display: flex;
  padding-bottom: 20px;

  .calendar-container {
    display: flex;
    flex-flow: column;

    .weekday-list {
      display: flex;
      flex-flow: row;
      height: 40px;
      margin-top: 20px;
      margin-bottom: 30px;

      .weekday-item {
        width: vars.$day-width;
        margin-left: vars.$day-margin + 0.1%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-size: 1rem;
          font-weight: 200;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
        }
      }
    }

    .calendar {
      display: flex;
      flex-flow: row wrap;
    }
  }
}

@media (max-width: 600px) {
  .calendar-main {
    .calendar-container {
      height: 90vh;
    }
  }
}
