@use "./variables" as vars;

.calendar-main {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  z-index: -1;

  .calendar-container {
    display: flex;
    flex-flow: column;

    .weekday-list {
      display: flex;
      height: 40px;
      margin-top: 20px;
      margin-bottom: 10px;

      .weekday-item {
        width: vars.$day-width;
        margin-left: vars.$day-margin;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: rgb(34, 34, 34);
          font-weight: 400;
        }
      }
    }

    .calendar {
      display: flex;
      flex-flow: row wrap;
    }
  }
}

@media (max-width: 600px) {
  .calendar-main {
    .calendar-container {
      height: auto;
    }
  }
}
