@use "./variables" as vars;

.calendar-day {
  overflow: hidden;
  height: vars.$day-height;
  min-height: 140px;
  width: vars.$day-width;
  margin-left: vars.$day-margin;
  margin-bottom: 20px;
  transition: all 0.25s ease-out;
  background-color: vars.$card-primary-color;
  border: 1px solid #2e2e2e;
  border-radius: 6px;

  &:hover {
    transform: translateY(-2px);

    .day-header {
      background-color: vars.$card-secondary-color;
    }

    .day-header .add-transaction-button-container {
      opacity: 1;
    }

    .day-header ~ .transactions-container {
      background-color: vars.$card-secondary-color;
    }
  }

  /* HEADER */
  .day-header {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: vars.$card-primary-color;
    transition: background-color 0.25s ease;
    color: #222;

    .day-date-container,
    .day-balance-container,
    .add-transaction-button-container {
      height: 100%;
      width: 33.33%;
    }

    .day-balance-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .day-balance {
        padding-left: 20px;
        font-weight: 300;
        color: #444;
        transition: 0.2s ease-in-out;
      }
    }

    .day-date-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .day-date {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        transition: 0.2s ease-in-out;
        color: #dadada;
      }
    }

    .add-transaction-button-container {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.2s ease-in-out;

      .add-transaction-button {
        background-color: vars.$primary-color;
        color: #fff;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        transition:
          transform 0.15s ease,
          background-color 0.2s;

        &:hover {
          background-color: vars.$card-secondary-color;
          transform: scale(1.25);
        }

        &:focus {
          background-color: vars.$tertiary-color;
          transform: scale(1);
        }
      }
    }
  }

  .transactions-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: vars.$card-primary-color;
    transition: background 0.25s ease;
  }

  .day-item {
    width: 100%;
    margin-top: 5px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div {
      font-size: 0.9rem;
      color: #eaeaea;
    }

    .item-color {
      margin-left: 20px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
    }

    .item-amount {
      margin-left: 5px;
      text-align: center;
      width: 50%;
      font-weight: 700;
      color: #fff;
    }

    .item-description {
      margin-left: 5px;
      color: #ccc;
    }
  }
}

/* 🔘 Días fuera del mes */
.inactive-day {
  .day-header {
    color: #aaa;

    .day-balance-container .day-balance {
      color: #bbb;
    }
  }

  background-color: #171717;
}

.inactive-month {
  opacity: 0.3;
}

/* 🔻 Balance negativo */
.negative {
  border-radius: 6px;
  border-color: vars.$disabled-primary-color;
  border: 2px solid vars.$disabled-primary-color;
  box-shadow: 0 0 8px rgba(vars.$disabled-primary-color, 0.6);
}

/* 🔵 Día seleccionado */
.active-day {
  border-color: vars.$secondary-color;
  border: 2px solid vars.$secondary-color;
  box-shadow: 0 0 8px rgba(vars.$secondary-color, 0.6);

  .day-header {
    .day-date {
      font-weight: 700;
      color: white;
    }

    .day-balance-container .day-balance {
      color: white;
    }
  }
}

/* 📱 Mobile */
@media (max-width: 600px) {
  .calendar-day {
    height: vars.$day-height * 0.4;
    min-height: 50px;
    margin-left: vars.$day-margin + 0.15%;
    border: 0;
    border-radius: 4px;

    &:hover {
      transform: none;
      box-shadow: none;
    }

    .day-header {
      height: 100%;
      flex-direction: column;
      border-bottom: none;

      .day-date-container .day-date {
        height: 50%;
        color: #222;
      }

      .day-balance-container {
        display: none;
      }

      &:active {
        background-color: vars.$tertiary-color;
      }
    }

    .transactions-container {
      height: 0%;
      background-color: transparent;
    }

    .add-transaction-button-container button {
      display: none;
    }
  }

  .active-day {
    border: 1px solid vars.$secondary-color;
    box-shadow: 0 0 8px rgba(vars.$secondary-color, 0.6);

    .day-header {
      background-color: vars.$secondary-color;
    }
  }
}
