.delete-button {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 50px;
  transition: 0.2 ease-in-out;

  &:hover {
    color: rgb(240, 212, 216);
    transform: scale(1.1);
  }
  &:active {
    color: rgb(255, 65, 54);
    transform: scale(0.9);
  }
}
