@use "variables" as vars;
@use "buttons" as *;

.list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2.1rem;
  }

  .exit-button {
    @extend %exit-button;
  }

  .day-view-header {
    .day-view-buttons {
      .day-change-buttons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
      }

      .day-change-button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
          color: rgb(177, 177, 177);
        }

        &:active {
          transform: scale(0.9);
          color: rgb(61, 61, 61);
        }

        svg {
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  .items-container {
    width: 50%;
    min-width: 400px;
    height: 60%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    background-color: #2828284e;

    .item {
      width: 90%;
    }
  }

  .link-button {
    @extend %link-button;
  }
}
