.navbar {
  height: 70px;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  background-color: white;

  div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-button-container {
    width: 5%;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 2;

    .menu-button {
      height: 40px;
      width: 40px;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .date-change-container {
    .date-container {
      margin: 0 10px;

      .date {
        font-size: 1.2rem;
      }
    }

    .arrow {
      background-color: transparent;
      border: none;
      color: #333;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
        color: black;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .logout-container {
    width: 5%;

    .logout-button-container {
      border: none;
      background: none;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      .logout-button {
        height: 35px;
        width: 35px;
      }

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    .menu-button-container {
      width: 15%;
    }

    .logout-container {
      width: 15%;
    }
  }
}
