.stats-view {
  display: flex;
  flex-direction: column;

  .stats-container {
    padding-top: 80px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 180px;
    width: 100%;

    .stat {
      padding: 10px;
      flex-flow: row wrap;
      height: 500px;
      width: 45%;
    }
  }
}

@media (max-width: 600px) {
  .stats-view {
    .stats-container {
      padding-top: 0;
      .stat {
        width: 100%;
      }
    }
  }
}
