$day-width: 12.4vw;
$day-height: 20vh;
$day-min-height: 130px;
$day-margin: 1.6%;

$background-color: #0b0c12;
$card-primary-color: #151515;
$card-secondary-color: #1b1b1b;
$primary-color: #007aff;
$secondary-color: #3a99ff;
$tertiary-color: #0266d1;
$disabled-primary-color: #ff4136;
$disabled-secondary-color: #ff6b6b;
$disabled-tertiary-color: #940606;
