$day-width: 12vw;
$day-height: 20vh;
$day-min-height: 130px;
$day-margin: 1.6%;

$button-primary-color: #007aff;
$button-hover-color: #3a99ff;
$button-focus-color: #0266d1;
$button-disabled-color: #ff4136;
